---
layout: default
---
<div class="container">
    <h2>{{ page.category }}</h2>
    <ul>
        {% for category in site.data.questions %}
            {% if category.category == page.category %}
                {% for q in category.questions %}
                    <li>
                        <p><strong>Question:</strong> {{ q.question }}</p>
                        <p><strong>Answer:</strong> {{ q.answer }}</p>
                        <p><strong>Explanation:</strong> {{ q.explanation }}</p>
                    </li>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
    <a href="{{ '/' | relative_url }}" class="btn">Back to Home</a>
</div>